html {
  overflow: scroll;
}

body {
  animation: colorchange 60s;
  -webkit-animation: colorchange 60s;
  animation-iteration-count: infinite;
}

@keyframes colorchange
{
  0% {background: lavender;}
  25% {background: lightblue;}
  50% {background: lightsteelblue;}
  75% {background: lightslategray;}
  100% {background: aliceblue;}
}

@-webkit-keyframes colorchange
{
  0% {background: lavender;}
  25% {background: lightblue;}
  50% {background: lightsteelblue;}
  75% {background: lightslategray;}
  100% {background: aliceblue;}
}

.word{
  animation-duration: 2s;
  animation-name: fadein;
}

@keyframes fadein {
  from{
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.visibleDescription{
  animation-duration: 2s;
  animation-name: fadein;
}

.hiddenDescription{
  visibility: hidden;
}

.hiddenWord{
  animation-duration: 2s;
  animation-name: fadeout;
  animation-fill-mode: forwards;
}

@keyframes fadeout{
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* using some tachyons bits */

.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.dim:hover,
.dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}
.dim:active {
  opacity: .8; transition: opacity .15s ease-out;
}

.glow {
  transition: opacity .15s ease-in;
}
.glow:hover,
.glow:focus {
  opacity: 1;
  transition: opacity .15s ease-in;
}
